<html>
    
    <head>
        <title>{{ title }} - Rock Paper Scissors</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="grid-container"> 
            
            <header>
                <span id="rock">Rock</span><span id="paper">Paper</span><span id="scissors">Scissors</span>
                <!-- <img src="./Logo.png" alt="logo">    this just won't show!!-->
            </header>

            <div id="menu">
                <nav>
                    <a href="/">Home</a></li>
                    <a href="/rules">Rules</a></li>
                    <a href="/play">Play</a></li>
                </nav>
            </div>

            <div id="main-content">
            {% block content %}

            {% endblock %}
            </div>

            <footer>&copy; 2021 hevthedev games</footer>

        </div>
    </body>

</html>