{% extends "base.html" %}

{% block content %}

<h1>The Rules</h1>
    <section>
        <p>The rules are simple:</p>
        <ul>
            <li>Rock beats scissors</li>
            <li>Scissors beats paper</li>
            <li>Paper beats rock</li>
        </ul>
    </section>

    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/1200px-Rock-paper-scissors.svg.png" alt="picture" width="500" height="500">
    </div>

<a href="/play">PLAY NOW</a>


{% endblock %}